.auto{
    background: $white;
    border: 3px solid $gray6;
    box-sizing: border-box;
    border-radius: 12px;

    &__placa{
        @include paragraph-12;
        color: $gray3;
    }

    &__model{
        @include title-20;
        color: $gray1;
    }
}